<section id="awards">
  <h3 class="border-b border-gray-300 text-3xl text-{{ page_settings.color }}-600 py-4 font-semibold">
    Notice of Awards
  </h3>
  <div class="py-5">   
    <table id="awards-table" class="border mb-5 divide-y divide-gray-200 table-fixed" style="width: 100%;">
      <thead class="bg-gray-100">
        <tr>
          <th class="text-left">Category</th>
          <th class="text-left">Project</th>
          <th class="text-left">Issued</th>
          <th class="text-left">Closed</th>
        </tr>
      </thead>
      <tbody class="bg-white divide-y divide-gray-200">
        {% if awards is empty %}
            <tr>
              <td colspan="4" class="px-2 py-3 max-w-max align-top text-center text-gray-500">No notices of award found.</td>
            </tr>
        {% endif %}
        {% for award in awards %}
          <tr>
            <td class="truncate" title="{{  award.category }}">{{ award.category }}</td>
            <td class="truncate" title="{{  award.title }}">
              <a href="/uploads/documents/Awards/{{ award.file }}" 
                target="_blank" class="underline text-{{ page_settings.color }}-600">
                {{ award.title }}
              </a>
            </td>
            <td>{{ award.created_date|date('Y-m-d') }}</td>
            <td>{{ award.closing_date|date('Y-m-d') }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</section>
