{% set links = [
  { 
    'url':   (user) ? '/system/dashboard' : 'javascript:showLoginForm()', 
    'title': (user) ? 'Back to System' : 'Employee Login',  
    'icon' : 'login',
  },
  { 
    'url': 'javascript:deleteAllCookies()', 
    'title': 'Refresh',  
    'icon' : 'refresh',
  },
  { 
    'url': '#offices', 
    'title': 'Offices',  
    'icon' : 'badge-check',
  },
  { 
    'url': '#contact-us', 
    'title': 'Contact Us',  
    'icon' : 'phone',
  },
] %}

{% set styles = {
  'tabsQuick': {
    'self' : [
      'flex flex-col bg-green-800 collapse',
      'sm:flex-row sm:justify-center',
      'lg:absolute lg:right-0 lg:top-2 lg:w-max lg:bg-transparent',
    ]|join(" "),
    'list': [
      'block w-full border-b border-green-900',
      'sm:border-0 sm:block sm:w-40',
      'lg:w-auto',
    ]|join(" "),
    'anchor': [
      'w-full block py-2 px-4 font-semibold text-white',
      'sm:text-center',
      'lg:text-sm',
    ]|join(" "),
    'chevron': [
      'inline-block align-middle float-right',
    ]|join(" ")
  }
} %}
<ul id="tabs-quick" class="{{ styles.tabsQuick.self }}">
  <li class="border-t sm:hidden {{ styles.tabsQuick.list }}">
    <a href="#" onclick="document.getElementById('tabs-quick').classList.toggle('collapse');"
      class="{{ styles.tabsQuick.anchor }}">
      Quicklinks
      <button class="chevron-down {{ styles.tabsQuick.chevron }}">
        {{ include('@components/Common/icon-outline.twig', { 
            'name'  : 'chevron-down', 
            'style' : 'h-6 w-6' 
          }) 
        }}         
      </button>
      <button class="chevron-up {{ styles.tabsQuick.chevron }}">
        {{ include('@components/Common/icon-outline.twig', { 
            'name'  : 'chevron-up', 
            'style' : 'h-6 w-6' 
          }) 
        }}  
      </button>
    </a>
  </li>

  {% for link in links %}
    <li class="tab {{ styles.tabsQuick.list }}">
      <a href="{{ link.url }}" 
        class="{{ styles.tabsQuick.anchor }}">
        {{ include('@components/Common/icon-outline.twig', { 
            'name'  : link.icon, 
            'style' : 'w-5 h-5 mr-1 hidden lg:inline-block' 
          }) 
        }}        
        {{ link.title }}
      </a>
    </li>
  {% endfor %}
</ul>
