<table id="awards-table" class="border mb-5 divide-y divide-gray-200 table-fixed">
  <thead class="bg-gray-100">
    <tr>
      <th class="text-left">#</th>
      <th class="text-left">Title</th>
      <th class="text-left">Details</th>
      <th class="text-left">Category</th>
      <th class="text-left">Status</th>
      <th class="text-left">Date Closed</th>
      <th class="text-center">Action</th>
    </tr>
  </thead>
  <tbody class="bg-white divide-y divide-gray-200">
    {% if award is empty %}
        <tr>
          <td colspan="7" class="px-2 py-3 max-w-max align-top text-center text-gray-500">No Bids found.</td>
        </tr>
    {% endif %}
    {% for awards in award %}
        <tr>
          <td>{{ loop.revindex }}.</td>
          <td class="truncate">{{ awards.title }}</td>
          <td class="truncate">{{ awards.details }}</td>
          <td class="truncate">{{ awards.category }}</td>
          <td class="truncate">{{ awards.status }}</td>
          <td>{{ awards.date_closed }}</td>
          <td class="text-center">
            <button onclick="{{ 'editBid(' ~ awards|json_encode() ~ ');' }}" class="text-blue-500">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z" />
              </svg>
            </button>
            <button onclick="{{ 'deleteBid(' ~ awards.id ~ ');' }}" class="text-red-500">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
              </svg>
            </button>
          </td>
        </tr>
    {% endfor %}
  </tbody>
</table>