<table id="headlines-table" class="border mb-5 divide-y divide-gray-200 table-fixed">
  <thead class="bg-gray-100">
    <tr>
      <th class="text-left">#</th>
      <th class="text-left">Title</th>
      <th class="text-left">Content</th>
      <th class="text-left">Date</th>
      <th class="text-center">Action</th>
    </tr>
  </thead>
  <tbody class="bg-white divide-y divide-gray-200">
    {% if headlines is empty %}
        <tr>
          <td colspan="5" class="px-2 py-3 max-w-max align-top text-center text-gray-500">No headlines found.</td>
        </tr>
    {% endif %}

    {% for headline in headlines %}
        <tr>
          <td>{{ loop.index }}.</td>
          <td class="truncate">{{ headline.title }}</td>
          <td class="truncate">{{ headline.content }}</td>
          <td>{{ headline.date }}</td>
          <td class="text-center">
            <button title="Announce" onclick="{{ 'announceHeadline(' ~ headline|json_encode() ~ ');' }}" class="text-gray-500">
              {{ include('@components/Common/icon-outline.twig', { 'name': 'speakerphone', 'style': 'w-6 h-6' }) }}
            </button>
            <button title="Edit"     onclick="{{ 'editHeadline(' ~ headline|json_encode() ~ ');' }}" class="text-blue-500">
              {{ include('@components/Common/icon-outline.twig', { 'name': 'pencil', 'style': 'w-6 h-6' }) }}
            </button>
            <button title="Delete"   onclick="{{ 'deleteHeadline(' ~ headline.id ~ ');' }}" class="text-red-500">
              {{ include('@components/Common/icon-outline.twig', { 'name': 'trash', 'style': 'w-6 h-6' }) }}
            </button>
          </td>
        </tr>
    {% endfor %}
  </tbody>
</table>
