<table id="notice_to_proceed-table" class="border mb-5 divide-y divide-gray-200 table-fixed">
  <thead class="bg-gray-100">
    <tr>
      <th class="text-left">#</th>
      <th class="text-left">Title</th>
      <th class="text-right">Categories</th>
      <th class="text-center">Status</th>
      <th class="text-right">Date Issued</th>
      <th class="text-center">Action</th>
    </tr>
  </thead>
  <tbody class="bg-white divide-y divide-gray-200">
    {% if notices is empty %}
      <tr>
        <td colspan="6" class="px-2 py-3 max-w-max align-top text-center text-gray-500">No notices found.</td>
      </tr>
    {% endif %}

    {% for notice in notices %}
      <tr>
        <td>{{ loop.index }}.</td>
        <td class="truncate">{{ notice.title }}</td>
        <td class="text-right">{{ notice.category }}</td>
        <td class="text-center">{{ notice.status }}</td>
        <td class="text-right">{{ notice.date_issued }}</td>
        <td class="text-center">
          <button onclick="{{ 'editNotice(' ~ notice|json_encode() ~ ');' }}" class="text-blue-500">
            {{ include('@components/Common/icon-outline.twig', { 'name': 'pencil', 'style': 'w-6 h-6' }) }}
          </button>
          <button onclick="{{ 'deleteNotice(' ~ notice.id ~ ');' }}" class="text-red-500">
            {{ include('@components/Common/icon-outline.twig', { 'name': 'trash', 'style': 'w-6 h-6' }) }}
          </button>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>