<section id="sidebar" class="h-screen w-80 bg-green-700 flex flex-col p-4 overflow-y-hidden hover:overflow-y-scroll hover:px-2">
  <div class="text-center py-5">
    <img src="{{ 
      (user.image) 
        ? '/uploads/users/'~ user.image
        : '/assets/img/profile.png'
      }}" 
      class="h-[150px] w-[150px] rounded-full block mx-auto" 
    />
    <h3 class="mt-2 text-white text-2xl font-semibold">@{{ user.username }}</h3>
  </div>
  {% for default in defaults %}
    <a href="{{ default.url }}" 
      class="
        {{ (current_page==default.page) ? 'text-green-700 bg-white font-bold rounded' : 'text-white' }} 
        w-full flex p-3 border-green-900 border-b 
        {{ (current_page!=default.page) ? 'hover:bg-green-900 hover:border-transparent hover:rounded' : '' }}
      ">
      {{ include('@components/Common/icon-outline.twig', { 
          'name'  : default.icon, 
          'style' : 'h-6 w-6 mr-3' 
        }) 
      }}
      <span>{{ default.name }}</span>
    </a>
  {% endfor %}

  <section class="w-full h-0 my-6"></section>

  {% for assigned in assigneds %}
    <a href="{{ assigned.url }}" 
      class="
        {{ (current_page==assigned.page) ? 'text-green-700 bg-white font-bold rounded' : 'text-white' }} 
        w-full flex p-3 border-green-900 border-b 
        {{ (current_page!=assigned.page) ? 'hover:bg-green-900 hover:border-transparent hover:rounded' : '' }}
      ">
      {{ include('@components/Common/icon-outline.twig', { 
          'name'  : assigned.icon, 
          'style' : 'h-6 w-6 mr-3' 
        }) 
      }}
      <span>{{ assigned.name }}</span>
    </a>
  {% endfor %}
</section>