<table id="users-table" class="border mb-5 divide-y divide-gray-200 table-fixed">
  <thead class="bg-gray-100">
    <tr>
      <th class="text-left">#</th>
      <th class="text-left">Name</th>
      <th class="text-left">Username</th>
      <th class="text-left">Password</th>
      <th class="text-left">Type</th>
      <th class="text-center">Action</th>
    </tr>
  </thead>
  <tbody class="bg-white divide-y divide-gray-200">
    {% if users is empty %}
        <tr>
          <td colspan="5" class="px-2 py-3 max-w-max align-top text-center text-gray-500">No users found.</td>
        </tr>
    {% endif %}

    {% for user in users %}
        <tr>
          <td>{{ loop.index }}.</td>
          <td class="truncate">{{ user.last_name }}, {{ user.first_name }}</td>
          <td>{{ user.username }}</td>
          <td><span class="text-2xl">********</span></td>
          <td>{{ user.type }}</td>
          <td class="text-center">
            <button onclick="{{ 'editUser(' ~ user|json_encode() ~ ');' }}" class="text-blue-500">
              {{ include('@components/Common/icon-outline.twig', { 'name': 'pencil', 'style': 'w-6 h-6' }) }}
            </button>
            <button onclick="{{ 'deleteUser(' ~ user.id ~ ');' }}" class="text-red-500">
              {{ include('@components/Common/icon-outline.twig', { 'name': 'trash', 'style': 'w-6 h-6' }) }}
            </button>
          </td>
        </tr>
    {% endfor %}
  </tbody>
</table>
