{% extends "@pages/Website/base.html.twig" %}

{% block title %}GOVERNMENT - General Tinio, Nueva Ecija | The Official Website{% endblock title %}
{% block styles %}
  {{ parent() }}
  {% include('@components/Common/markdown.style.twig') %}
  <link rel="stylesheet" href="//cdn.datatables.net/1.11.4/css/jquery.dataTables.min.css"/>
{% endblock styles %}
{% block innerContent %}
  <div class="lg:flex lg:flex-row lg:justify-between lg:space-x-8">
    <section class="w-full">
      {% for page_section in page_sections %}
        <div class="w-full editor-preview mb-5">
          {{ page_section|raw }}
        </div>
      {% endfor %}
      {{ include('@components/Website/section-departments.html.twig', { 'page_settings': page_settings, 'departments': departments }) }}
      {% include('@components/Website/section-full_disclosures.html.twig') %}
      {% include('@components/Website/section-bids.html.twig') %}
      {% include('@components/Website/section-awards.html.twig') %}
      {% include('@components/Website/section-ordinances_resolutions.html.twig') %}
    </section>
    {% include('@components/Website/right-sidebar.html.twig') %}
  </div>
  <div class="lg:flex lg:flex-col">
    {{ 
      include('@components/Website/bottom-content.html.twig', { 
        'page_settings': page_settings,
        'departments'  : departments,
      })
    }}
  </div>
{% endblock innerContent %}
{% block scripts %}
  {{ parent() }}
  <script src="//cdn.datatables.net/1.11.4/js/jquery.dataTables.min.js"></script>
  <script>
    $('.editor-preview h1').addClass("text-{{ page_settings.color }}-600");

    document.addEventListener('DOMContentLoaded', function () {
      try {
        let table1 = new DataTable('#ordinances_resolutions-table', {
          "columnDefs": [
            { "width": "15%", "targets": 0 },
            { "width": "12%", "targets": 2 },
            { "width": "12%", "targets": 3 },
          ]
        });

        let table2 = new DataTable('#bids-table', {
          "columnDefs": [
            { "width": "12%", "targets": 0 },
            { "width": "12%", "targets": 2 },
            { "width": "12%", "targets": 3 },
          ]
        });
      } catch(e) {}
    });
  </script>
{% endblock scripts %}