{% extends "@pages/Website/base.html.twig" %}

{% block title %}Home Page{% endblock %}
{% block innerContent %}
  <div class="lg:flex lg:flex-row lg:justify-between lg:p-6 lg:space-x-5">
    <section class="lg:px-4">
      {% if article %}
        <section class="mb-5">
          <h1 class="border-b border-gray-300 text-3xl text-{{ page_settings.color }}-600 py-4 font-semibold">
            {{ article.title }}
            <p class="text-2xl text-gray-500">{{ article.subtitle }}</p>
          </h1>
          <img src="/uploads/featured_stories/{{ article.image }}" 
            class="w-full border shadow-3xl my-4" 
          />
          <p class="mb-4 text-lg font-normal text-gray-500">
            by {{ article.first_name }} {{ article.last_name }}<br>
            {{ article.date|date('F d, Y') }}
          </p>
          <div class="w-full editor-preview">{{ article.content|raw }}</div>
          <hr class="mt-10 mb-2">
          <p class="text-center text-gray-500">[ END OF ARTICLE ]</p>
          <hr class="my-2">
        </section>
      {% endif %}

      {% if news %}
        <section class="mb-5">
          <h1 class="border-b border-gray-300 text-3xl text-{{ page_settings.color }}-600 py-4 font-semibold">
            {{ news.title }}
          </h1>
          <img src="/uploads/headlines/{{ news.image }}" 
            class="w-full border shadow-3xl my-4" 
          />
          <p class="mb-4 text-lg font-normal text-gray-500">
            by {{ news.first_name }} {{ news.last_name }}<br>
            {{ news.date|date('F d, Y | h:ia') }}
          </p>
          <div class="w-full editor-preview">{{ news.content|raw }}</div>
          <hr class="mt-10 mb-2">
          <p class="text-center text-gray-500">[ END OF NEWS ]</p>
          <hr class="my-2">
        </section>
      {% endif %}

      {% if event %}
        <section class="mb-5">
          <h1 class="border-b border-gray-300 text-3xl text-{{ page_settings.color }}-600 py-4 font-semibold">
            {{ event.title }}
          </h1>
          {% if event.image %}
            <img src="/uploads/events/{{ event.image }}" 
              class="w-full border shadow-3xl my-4" 
            />
          {% else %}
            <p class="my-4"></p>
          {% endif %}
          <p class="mb-4 text-lg font-normal text-gray-500">
            {{ event.date|date('F d, Y | h:ia') }}<br>
            {{ event.venue }}
          </p>
          <div class="w-full editor-preview">{{ event.details|raw }}</div>
          <hr class="mt-10 mb-2">
          <p class="text-center text-gray-500">[ END OF EVENT ]</p>
          <hr class="my-2">
        </section>
      {% endif %}
    </section>
    <section class="lg:px-4 ">
      {% include('@components/Website/section-articles.html.twig') %}
      <br>
      {% include('@components/Website/section-news.html.twig') %}
      <br>
      {{ include('@components/Website/section-location.html.twig', { 'page_settings': page_settings }) }}
    </section>
  </div>
  <div class="lg:flex lg:flex-col lg:px-6">
    <section class="lg:px-4">
      {{ include('@components/Website/section-events.html.twig', { 'page_settings': page_settings, 'events': events }) }}
      <br>
      {{ include('@components/Website/section-explore.html.twig', { 'page_settings': page_settings, 'tourist_spots': tourist_spots }) }}
      {{ include('@components/Website/section-contact_us.html.twig', { 'page_settings': page_settings }) }}
    </section>
  </div>
{% endblock %}
{% block scripts %}
  {{ parent() }}
  <script>
    ContactUsForm.onsubmit = async (e) => {
      e.preventDefault();

      let processingModal = Swal.fire({ 
        imageUrl: '/assets/img/loading.gif',
        title: 'Processing...',
        allowOutsideClick: false, 
        allowEscapeKey: false,          
        showConfirmButton: false
      });
      let hiddenIdInput = ContactUsForm.querySelector('#id');
      let response = await fetch('/system/messages', {
        credentials: "same-origin",
        method: 'POST',
        body: new FormData(ContactUsForm)
      });
      let {
        message,
        status,
        errors
      } = await response.json();

      processingModal.close();
      if (status == 'success') {
        Swal.fire({
          icon: 'success',
          title: 'Success!',
          text: message,
          showConfirmButton: false,
          timer: 1500
        }).then(() => window.location.reload());
      } else {
        console.log(errors)

        for(let key in errors) {
          let error = errors[key];

          for(let i in error) {
            $(`#container-${key} [name]`).addClass('border-red-500');
            $(`#container-${key} .error-message`).removeClass('hidden');
            $(`#container-${key} .error-message`).html(error[i]);
          }
        }

        Swal.fire({
          icon: 'error',
          title: 'Error!',
          text: 'An error occured!'
        });
      }
    };
  </script>
{% endblock scripts %}